.section {
    padding: 2rem 2rem;
    background: #2c82c9;
    padding-bottom: 2rem;
  }
.section li {
    color: #214842;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-left: 6rem;
  }

.section a{
    padding-left: 6rem;
  }